* {
    margin: 0;
}

body {
    display: block;
}

::selection {
    background-color: aqua;
    color: red;
}

#lorem {
    text-transform: lowercase;
}

#lorem p:empty {
    width: 100px;
    height: 20px;
    background-color: gray;
}

#lorem::first-letter{
    text-transform: uppercase;
    color: red;
    font-size: 22px;
}

#lorem2::first-line {
    color: blue;
    font-style: italic;
}

#lorem2::before {
    content: 'Reprehenderit';
    font-size: 22px;
    color: green;
}

#lorem2::after {
    content: 'magni.';
    font-size: 22px;
    color: green;
}

#ace li::marker {
    content: '♠';
    font-size: 16px;
    color: blueviolet;
}

a:hover {
    color: red;
}

a:active {
    background-color: black;
    color: white;
}

#check {
    list-style: none;
    content: none;
}

#check input:checked {
    height: 50px;
    width: 50px;
}

#lorem2 input:enabled {
    background-color: lightskyblue;
}

#lorem2 input:disabled {
    background-color: lightcoral;
}

ul>:first-child {
    color: grey;
}

li:first-of-type {
    background-color: black;
}

ul>:last-child {
    color: grey;
}

li:last-of-type {
    background-color: black;
}

ul>:nth-child(2) {
    color: white;
}

li:nth-last-child(2) {
    background-color: black;
}

#lorem2 input:focus {
    width: 250px;
}

#ranger:in-range {
    background-color: greenyellow;
}

#invalid:invalid {
    background-color: red;
}

p:lang(pt) {
    background: yellow;
}

a:link {
    background-color: blueviolet;
}

#yt:visited {
    background-color: red;
    color: white;
}

#valid:valid {
    background-color: greenyellow;
}

#jump:target {
    border: 2px solid #D4D4D4;
    background-color: #e5eecc;
}

:root {
    background-color: azure;
}

:only-child {
    color: darkblue;
}

p:only-of-type {
    color: darkmagenta;
}